{% extends "account/base.html" %}
{% load tailwind_filters %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_content %}
<div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">

    <div class="text-left p-0 font-sans">
        <h1 class=" text-gray-800 text-3xl font-medium">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <h3 class="p-1 text-gray-700">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</h3>
    </div>
    {% else %}
    {% if form %}  
    <div class="mt-5">
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="py-3 bg-myrtle-green text-white w-full rounded hover:bg-myrtle-green-light" type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
    </div>
        {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
</div>
        {% endif %}
    {% endif %}
{% endblock %}
