{% extends "account/base.html" %}
{% load tailwind_filters %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block account_content %}

<div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">

    <div class="text-left p-0 font-sans">
        <h1 class=" text-gray-800 text-3xl font-medium">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <h3 class="p-1 text-gray-700">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</h3>
    </div>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="py-3 bg-myrtle-green text-white w-full rounded hover:bg-myrtle-green-light" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
    <a href="{% url 'contact:contact' %}" data-test="Link"><span class="block  p-5 text-center text-gray-800  text-xs ">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</span></a>
</div>
{% endblock %}
