{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_content %}
<div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
    <div class="text-left p-0 font-sans">
        <h1 class=" text-gray-800 text-3xl font-medium">{% trans "Change Password" %}</h1>
        <h3 class="p-1 text-gray-700">{% trans 'Your password is now changed.' %} You can <a href="{% url 'account_login' %}" class="text-myrtle-green">login now</a> with your new password.</h3>
    </div>
</div>
{% endblock %}
