{% extends "account/base.html" %}
{% load tailwind_filters %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block account_content %}
<div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">

  <div class="text-left p-0 font-sans">
      
      <h1 class=" text-gray-800 text-3xl font-medium">Create an account for free</h1>
      <h3 class="p-1 text-gray-700">Take quizzes to earn crypto. No payment needed.</h3>
  </div>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="mt-10">
      <button type="submit" class="py-3 bg-myrtle-green text-white w-full rounded hover:bg-myrtle-green-light">{% trans "Sign Up" %} &raquo;</button>
      </div>
    </form>
    <a class="" href="{% url 'account_login' %}" data-test="Link"><span class="block  p-5 text-center text-gray-800  text-xs ">Already have an account?</span></a>
</div>

{% endblock %}

              
      