{% load static %} 
{% load i18n %}
<!DOCTYPE html>
<html
  xmlns:fb="http://www.facebook.com/2008/fbml"
  xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="en"
  lang="en"
  dir="ltr"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% trans "PiQuest" %} | {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <div class="max-w-7xl mx-auto">
      {% include "navbar.html" %}
      {% block content %} 
      {% endblock content %}
      {% include "footer.html" %}
    </div>
  </body>
</html>
