{% extends 'classroom/base.html' %}
{% load crispy_forms_tags crispy_forms_filters %}
{% block content %}
    <div class="login-page page-wrapper s-pd100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6 col-sm-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="login-form-area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'quiz:master_trivia_list' %}">My Quizzes</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_update' quiz.url %}">{{ quiz.title }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ question.content }}</li>
                            </ol>
                        </nav>
                        <h2 class="mb-3">{{ quiz.title }}</h2>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {{ formset.management_form }}
                            {{ form|crispy }}
                            <div class="card mb-3{% if formset.errors %} border-danger{% endif %}">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-8">
                                            <strong>Answers</strong>
                                        </div>
                                        <div class="col-2">
                                            <strong>Correct?</strong>
                                        </div>
                                        <div class="col-2">
                                            <strong>Delete?</strong>
                                        </div>
                                    </div>
                                </div>
                                {% for error in formset.non_form_errors %}
                                    <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
                                {% endfor %}
                                <div class="list-group list-group-flush list-group-formset">
                                    {% for form in formset %}
                                        <div class="list-group-item">
                                            <div class="row">
                                                <div class="col-8">
                                                    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                                    {{ form.content|as_crispy_field }}
                                                    {% if form.instance.pk and form.content.value != form.instance.content %}<p class="mb-0 mt-1"><small class="text-muted font-italic"><strong>Old answer:</strong> {{ form.instance.content }}</small></p>{% endif %}
                                                </div>
                                                <div class="col-2">
                                                    {{ form.correct }}
                                                </div>
                                                <div class="col-2">
                                                    {% if form.instance.pk %}
                                                        {{ form.DELETE }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <p>
                                <small class="form-text text-muted">Your question may have at least <strong>2</strong> answers and maximum <strong>10</strong> answers. Select at least one correct answer.</small>
                            </p>
                            <button type="submit" class="btn btn-success">Save changes</button>
                            <a href="{% url 'quiz:quiz_update' quiz.url %}" class="btn btn-outline-secondary" role="button">Cancel</a>
                            <a href="{% url 'quiz:multichoice_delete' quiz.url question.pk %}" class="btn btn-danger float-right delete">Delete</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
