{% extends parent_template|default:"projects/base_projects.html" %} 
{% load i18n %}
{% block title %}{% trans "Category List" %}{% endblock %}

{% block content %}
<h2>{% trans "Category list" %}</h2>
<div>
  <a href="{% url 'main:category_create' %}">Create New Category</a>
</div>
<ul>
  {% for cat in category_list %}
  <li>
	<a href="{{ cat.get_absolute_url }}">
	  {{ cat.category|title }}
	</a>
  </li>
  {% empty %}
  <li><em>There are currently no categories available</em></li>
  {% endfor %}
  </ul>
{% endblock %}
 