{% extends parent_template|default:"projects/base_projects.html" %}
{% load humanize %} 
{% block title %}{{ category.category }}{% endblock %}
{% block content %}

<section class="text-gray-600 body-font bg-gray-100 border-2 border-languid-lavender">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-3xl mb-2 text-myrtle-green">{{ category.category|title }}</h1>
        <div class="leading-relaxed">{{ category.description }}</div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-myrtle-green">{{ category.total_takers.count|intword }}</h2>
        <p class="leading-relaxed">Takers</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-myrtle-green">{{ category.get_total_reward|intword }}</h2>
        <p class="leading-relaxed">Rewards</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-myrtle-green">{{ category.quizzes.count|intword }}</h2>
        <p class="leading-relaxed">Quiz{{ category.quizzes.count|pluralize:"zes" }}</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-myrtle-green">{{ category.projects.count|intword }}</h2>
        <p class="leading-relaxed">Project{{ category.projects.count|pluralize }}</p>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="{{ category.get_image_url }}" alt="{{ category.category }}">
    </div>
  </div>
</section>
{% if category.projects.all %}
<section>
<div class="w-full bg-white p-12">
    <div class="header flex items-end justify-between mb-12">
        <div class="title">
            <p class="text-4xl font-bold text-gray-600 mb-4">
                Latest Project{{ category.projects.count|pluralize }}
            </p>
            <p class="text-2xl font-light text-gray-400">
                {{ category.category|title }} is associated with {{ category.projects.count }} project{{ category.projects.count|pluralize }}
            </p>
        </div>
        </div>
        
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12">
            {% for project in category.projects.all %}
            <div class="overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto">
                <a href="{{ quiz.get_chosen_project.get_absolute_url }}" class="w-full block h-full">
                    <img alt="project photo" src="{{ project.get_image_url }}" class="max-h-40 w-full object-cover"/>
                    <div class="bg-white dark:bg-gray-800 w-full p-4">
                        <p class="text-indigo-500 text-md font-medium">
                            {{ quiz.get_chosen_project }}
                        </p>
                        <p class="text-gray-800 dark:text-white text-xl font-medium mb-2 hover:text-languid-lavender">
                            <a href="{{ project.get_absolute_url }}">{{ project.title|title }}</a>
                        </p>
                        <p class="text-gray-400 dark:text-gray-300 font-light text-md">
                            {{ project.description|truncatewords:20 }}
                        </p>
                        <div class="flex items-center mt-4">
                            <a href="{{ project.lead.get_absolute_url }}" class="block relative">
                                <img alt="profil" src="{{ project.lead.get_image_url }}" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                            </a>
                            <div class="flex flex-col justify-between ml-4 text-sm">
                                <p class="text-gray-800 dark:text-white hover:text-languid-lavender">
                                    {{ project.lead.get_short_name|title }}
                                </p>
                                <p class="text-gray-400 dark:text-gray-300">
                                    {{ project.date_added }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% if category.quizzes.all %}
<section class="bg-gray-100 border-2 border-languid-lavender">
<div class="w-full bg-white p-12">
    <div class="header flex items-end justify-between mb-12">
        <div class="title">
            <p class="text-4xl font-bold text-gray-600 mb-4">
                Latest Quiz{{ category.quizzes.count|pluralize:"zes" }}
            </p>
            <p class="text-2xl font-light text-gray-400">
                See various quizzes in {{category.category}}
            </p>
        </div>
        </div>
        
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12">
            {% for quiz in category.quizzes.all %}
            <div class="overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto">
                <a href="{{ quiz.get_absolute_url }}" class="w-full block h-full">
                    <img alt="quiz photo" src="{{ quiz.get_image_url }}" class="max-h-40 w-full object-cover"/>
                    <div class="bg-white dark:bg-gray-800 w-full p-4">
                        {% if quiz.get_chosen_project %}
                        <p class="text-myrtle-green text-md font-medium hover:text-languid-lavender">
                            {{ quiz.get_chosen_project }}
                        </p>
                        {% else %}
                        <p class="text-myrtle-green text-md font-medium">
                            PiQuest
                        </p>
                        {% endif %}
                        <p class="text-gray-800 dark:text-white text-xl font-medium mb-2">
                            <a href="{{ quiz.get_absolute_url }}">{{ quiz.title|title }}</a>
                        </p>
                        <p class="text-gray-400 dark:text-gray-300 font-light text-md">
                            {{ quiz.description|truncatewords:20 }}
                        </p>
                        <div class="flex items-center mt-4">
                            {% if user.is_authenticated %}
                            <a href="{{ quiz.master.get_absolute_url }}" class="block relative">
                                <img alt="profil" src="{{ quiz.master.get_image_url }}" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                            </a>
                            {% else %}
                            <p class="block relative">
                                <img alt="profil" src="{{ quiz.master.get_image_url }}" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                            </p>
                            {% endif %}
                            <div class="flex flex-col justify-between ml-4 text-sm">
                                <p class="text-gray-800 dark:text-white">
                                    {{ quiz.master.get_short_name|title }}
                                </p>
                                <p class="text-gray-400 dark:text-gray-300">
                                    {{ quiz.pub_date }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
    {% endif %}
{% if not category.projects.all and not category.quizzes.all %}
    <p>This category is not related to any content.</p>
{% endif %}

{% endblock content %}