{% extends parent_template|default:"quiz/base_quiz.html" %}
{% load tailwind_filters %}

{% block title %}
Update {{ quiz.title|title }}
{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto"> 
    <div>
        <form action="{{ quiz.get_update_url }}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded-md" type="submit">Update Quiz</button>
        </form>
    </div>
</div>
{% endblock %}