{% extends parent_template|default:"quiz/base_quiz.html" %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}
{% if quiz.single_attempt %}
<div class="alert flex flex-row items-center bg-blue-200 p-5 rounded border-b-2 border-blue-300">
  <div class="alert-icon flex items-center bg-blue-100 border-2 border-blue-500 justify-center h-10 w-10 flex-shrink-0 rounded-full">
    <span class="text-blue-500">
      <svg fill="currentColor"
          viewBox="0 0 20 20"
          class="h-6 w-6">
        <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"></path>
      </svg>
    </span>
  </div>
  <div class="alert-content ml-4">
    <div class="alert-title font-semibold text-lg text-blue-800">
      Info
    </div>
    <div class="alert-description text-sm text-blue-600">
      {% trans "You will only get one attempt at this quiz!!!" %}.
    </div>
  </div>
</div>
{% endif %}
<article class="antialiased bg-gray-100 font-sans border-2 border-languid-lavender">
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest uppercase">{{ quiz.category }}</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ quiz.title|title }}</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-myrtle-green border-b-2 border-languid-lavender py-2 text-lg px-1">Description</a>
          {% comment %} <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Reviews</a>
          <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Details</a> {% endcomment %}
        </div>
        <p class="leading-relaxed mb-4">{{ quiz.description|linebreaks }}</p>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Created on</span>
          <span class="ml-auto text-gray-900">{{ quiz.pub_date|date:"l, F j, Y" }}</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Master</span>
          {% if user.is_authenticated %}
          <span class="ml-auto text-gray-900"><a href="{{ quiz.master.get_absolute_url }}">
          {{ quiz.master.profile.name }}</a></span>
          {% else %}
          <span class="ml-auto text-gray-900">{{ quiz.master.profile.name }}</span>
          {% endif %}
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">No. of questions</span>
          <span class="ml-auto text-gray-900">{{ quiz.max_questions }}</span>
        </div>
        {% if user.pk == quiz.master.pk %}
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500"><a href="{{ quiz.get_update_url }}"> Edit Quiz</a></span>
          <span class="ml-auto text-gray-900"><a href="{{ quiz.get_delete_url }}"> Delete Quiz</a></span>
        </div>
        {% endif %}
        <div class="flex">
        {% if quiz.reward and quiz.number_of_winners %}
          <span class="title-font font-medium text-2xl text-gray-900">WART{{ quiz.reward }}</span>
        {% else %}
          <span class="title-font font-medium text-2xl text-gray-900">&pi;10 (delayed)</span>
        {% endif %}
          <button class="flex ml-auto text-white bg-myrtle-green border-0 py-2 px-6 focus:outline-none hover:bg-myrtle-green-light rounded"><a href="{% url 'quiz:quiz_question' quiz_name=quiz.url %}">{% trans "Start quiz" %}</a></button>
        </div>
        {% if quiz.projects.all or quiz.tags.all %}
        <!-- component -->
        <div class="flex flex-shrink-0 mt-5">
          {% if quiz.projects.all %}
          {% for project in quiz.projects.all %}
          <div class="flex flex-shrink-0 text-sm items-center px-2">
            <div class="bg-gray-400 text-gray-600 px-2 py-1 rounded-l-md">Project</div>
            <div class="bg-gray-500 text-languid-lavender px-2 py-1 rounded-r-md"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></div>
          </div>
          {% endfor %}
          {% endif %}
          {% if quiz.tags.all %}
          {% for category in quiz.tags.all %}
          <div class="flex flex-shrink-0 text-sm items-center pr-2">
            <div class="bg-gray-300 text-gray-600 px-2 py-1 rounded-l">Tag</div>
            <div class="bg-green-200 text-green-700 px-2 py-1 rounded-r"><a href="{{ category.get_absolute_url }}">{{ category.category|title }}</a></div>
          </div>
          {% endfor %}
          {% endif %}
        </div> 
        {% endif %}
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{ quiz.get_image_url }}">
    </div>
  </div>
</section>
</article>
{% endblock %}
