{% extends parent_template|default:"quiz/base_quiz.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {% trans "Progress Page" %} {% endblock %}
{% block description %} {% trans "User Progress Page" %} {% endblock %}


{% block content %}

{% if cat_scores %}
<section class="text-gray-600 body-font bg-gray-50">
	<div class="container px-5 py-10 mx-auto">
		<h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-5">{% trans "Your progress so far!!!" %}
			<br class="hidden sm:block">{{ user.get_full_name}}
		</h1>
	</div>






	<div class="flex flex-wrap flex-col md:flex-row justify-centre">
        <div class="md:w-5">
            <div class="flex flex-col md:flex-row space-x-8">
            {% for cat, value in cat_scores.items %}
                <div class="shadow-md p-4">
                    <div class="">
                        <div class="flex flex-col">
                            <div class="flex space-x-8 w-56">
                                <div class="">
                                    <div class="uppercase text-sm text-gray-400">
                                        {{ cat }}
                                    </div>
                                    <div class="mt-1">
                                        <div class="flex space-x-2 items-center">
                                            <div class="text-2xl">
                                                {{ value.1 }}
                                            </div>
                                            <div class="text-xs text-green-800 bg-green-200 rounded-md p-1">
                                                {{ value.2 }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <svg class="h-16 w-20 text-gray-300" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path d="M12 14l9-5-9-5-9 5 9 5z" />
                                        <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                                    </svg>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% else %}

    <div class="text-gray-600 body-font bg-gray-100">
        <div class="container px-5 py-10 mx-auto">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-5">{{ user.get_full_name}}, {% trans "You have taken no quiz so far!!!" %} 
            </h1>
        </div>
    </div>

  {% endif %}

  {% if exams %}
  

<!-- component -->
<div class="text-gray-900 bg-gray-200">
    <div class="p-4 flex flex-col">
        <h1 class="text-3xl">
            {% trans "Previous exam papers" %}
        </h1>
		<p class="">
	{% trans "Below are the results of exams that you have sat." %}
  		</p>
    </div>
    <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
            <tbody>
                <tr class="border-b">
                    <th class="text-left p-3 px-5">{% trans "Quiz Title" %}</th>
                    <th class="text-left p-3 px-5">{% trans "Score" %}</th>
                    <th class="text-left p-3 px-5">{% trans "Possible Score" %}</th>
                    <th>%</th>
                </tr>
				{% for exam in exams %}
                <tr class="border-b hover:bg-orange-100 bg-gray-100">
                    <td class="p-3 px-5">{{ exam.quiz.title }}</td>
                    <td class="p-3 px-5">{{ exam.current_score }}</td>
                    <td class="p-3 px-5">{{ exam.get_max_score }}</td>
                    <td class="p-3 px-5 flex justify-end">{{ exam.get_percent_correct }}</td>
                </tr>
				{% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>

{% endif %}

{% endblock %}
