{% extends parent_template|default:"quiz/base_quiz.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}
  <div class="text-gray-600 body-font container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
    {% if user.is_authenticated %}
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">{% trans "You have already sat this exam and only one sitting is permitted" %}.</h1>
    {% else %}
      {% trans "This exam is only accessible to signed in users" %}.
    {% endif %}
    </div>
  </div>

{% endblock %}
