{% extends 'classroom/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <!--=======Page Heading 
    ==================================-->
    <section class="page-heading-section bg-image before-bg" style="background-image: url({% static 'images/header/campus-ambassador.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading">
                        <h2 class="page-name text-capitalize">Campus Ambassador Application</h2>
                    </div><!--/ .page-heading-->
                </div><!--/.col-md-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.page-heading-area-->

    <!--=======Contact Page
    ==================================-->
    <div class="contact-page page-wrapper">
        <section class="contact-form-section bg-image s-pd100" style="background-image: url({% static 'images/contact.jpg' %});">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="contact-form-area border-radius" id="contact-form" method="post" novalidate>
                            <div class="alert alert-warning shadow mb-3" role="alert" style="border-left:#856404 5px solid;  border-radius: 0px">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true" style="color:#856404">&times;</span>
                            </button>
                            <div class="row">
                                <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="m-1 bi bi-cone-striped" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.97 4.88l.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
                                </svg>
                                <p style="font-size:18px" class="mb-0 font-weight-light"><b class="mr-1">Warning:</b>For the best experience, please use a PC/Laptop to fill out this form.</p>
                            </div>
                        </div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <h3>Apply Now!!!</h3>
                           <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdEMO8mSKacs0njjOOFxS_nw3Y8xASh4Bk1-C9P1XLMEiAB0w/viewform?embedded=true" width="640" height="1196" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                        </div><!--/.contact-form-area-->
                    </div><!--/.col-md-10-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.contact-form-section-->

        <section class="contact-info-section s-pd100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="single-contact-info box bg-gray text-center border-radius">
                            <span class="fa fa-envelope"></span>
                            <h3>Email</h3>
                            <p><a href = "mailto: piquests@gmail.com"><span class="__cf_email__" data-cfemail="4821262e27083b3f24292a3b662b2725">piquests@gmail.com</span></a></p>
                        </div><!--/.single-contact-info-->
                    </div><!--/.col-lg-3-->
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="single-contact-info box bg-gray text-center border-radius">
                            <span class="fa fa-phone"></span>
                            <h3>phone</h3>
                            <p>08074789552</p>
                        </div><!--/.single-contact-info-->
                    </div><!--/.col-lg-3-->
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="single-contact-info box bg-gray text-center border-radius">
                            <span class="fa fa-globe"></span>
                            <h3>website</h3>
                            <p><a href="#">www.piquests.com</a></p>
                        </div><!--/.single-contact-info-->
                    </div><!--/.col-lg-3-->
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="single-contact-info box bg-gray text-center border-radius">
                            <span class="fa fa-map-marker"></span>
                            <h3>address</h3>
                            <p>Lagos, Nigeria</p>
                        </div><!--/.single-contact-info-->
                    </div><!--/.col-lg-3-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.contact-info-section-->
    </div><!--/.contact-page-->
{% endblock %}

{% block join_us %}
    <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <h2>Become A Part of PiQuests Community Today</h2>
                    </div><!--/.col-lg-9-->
                    <div class="col-lg-3 text-right">
                        <a href="{% url 'account_signup' %}" class="btn btn-default">get started</a>
                    </div><!--/.col-lg-3-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.footer-top-area-->
{% endblock %}