{% extends 'classroom/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <!--=======Page Heading 
    ==================================-->
    <section class="page-heading-section bg-image before-bg" style="background-image: url({% static 'images/header/Rewards.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading">
                        <h2 class="page-name text-capitalize">Congratulations!!! claim your rewards.</h2>
                    </div><!--/ .page-heading-->
                </div><!--/.col-md-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.page-heading-area-->

    <!--=======Contact Page
    ==================================-->
    <div class="contact-page page-wrapper">
        <section class="contact-form-section bg-image s-pd100" style="background-image: url({% static 'images/contact.jpg' %});">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="contact-form-area border-radius" id="contact-form" method="post" novalidate>
                            
                            <div class="alert alert-info" role="alert">
                                <h4 class="alert-heading">Well done!</h4>
                                <p>Aww yeah, you have proven to be full of knowledge. Claim reward by sending 120 $WART to <span id="p1">3PQc55HLEe2s8eFxz2qy5TjQk6YwGVDLD1T</span>.<button class="btn btn-outline-secondary waves-effect px-3" style="font-size:16px" onclick="copyToClipboard('#p1')"><i class="fa fa-copy"></i></button></p>
                                <hr>
                                <p class="mb-0">Once you have done that, submit the transaction ID using the form below.</p>
                            </div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <h3>Claim Now!!!</h3>
                            <form action="{% url 'piquest-auth:claim_reward' %}" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}<br>
                                <center>
                                    <button type="submit" class="btn btn-success">Claim</button>
                                    <a href="{% url 'piquest-auth:profile' %}" class="btn btn-danger" role="button">Cancel</a>
                                </center>
                            </form>
                        </div><!--/.contact-form-area-->
                    </div><!--/.col-md-10-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.contact-form-section-->

        <section class="contact-info-section s-pd100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="single-contact-info box bg-gray text-center border-radius">
                            <span class="fa fa-envelope"></span>
                            <h3>Email</h3>
                            <p><a href = "mailto: piquests@gmail.com"><span class="__cf_email__" data-cfemail="4821262e27083b3f24292a3b662b2725">piquests@gmail.com</span></a></p>
                        </div><!--/.single-contact-info-->
                    </div><!--/.col-lg-3-->
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="single-contact-info box bg-gray text-center border-radius">
                            <span class="fa fa-phone"></span>
                            <h3>phone</h3>
                            <p>08074789552</p>
                        </div><!--/.single-contact-info-->
                    </div><!--/.col-lg-3-->
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="single-contact-info box bg-gray text-center border-radius">
                            <span class="fa fa-globe"></span>
                            <h3>website</h3>
                            <p><a href="{% url 'main:home_page' %}">www.piquests.com</a></p>
                        </div><!--/.single-contact-info-->
                    </div><!--/.col-lg-3-->
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="single-contact-info box bg-gray text-center border-radius">
                            <span class="fa fa-map-marker"></span>
                            <h3>address</h3>
                            <p>Lagos, Nigeria</p>
                        </div><!--/.single-contact-info-->
                    </div><!--/.col-lg-3-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.contact-info-section-->
    </div><!--/.contact-page-->
{% endblock %}

{% block join_us %}
    <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <h2>Become A Part of PiQuests Community Today</h2>
                    </div><!--/.col-lg-9-->
                    <div class="col-lg-3 text-right">
                        <a href="{% url 'account_signup' %}" class="btn btn-default">get started</a>
                    </div><!--/.col-lg-3-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.footer-top-area-->

<script>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>
{% endblock %}
