{% extends parent_template|default:"user/base_user.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two five columns">
      {% include "user/login_form.html" %}
    </div>
    <div class="three columns">
      <ul class="task-list">
        <li><a href="{% url 'account_signup' %}">
          Register New Account</a></li>
        <li><a href="{% url 'account_reset_password' %}">
          Forgotten password?</a></li>
        <li><a href="{% url 'account_email' %}">
          Lost Activation E-Mail?</a></li>
      </ul>
    </div>
  </div>
{% endblock %}