{% extends parent_template|default:"account/base.html" %}
{% load tailwind_filters %}

{% block title %}
Update Profile
{% endblock %}


{% block content %}
<div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
      <form
          action="{{ profile.get_update_url }}"
          method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="py-3 bg-myrtle-green text-white w-full rounded hover:bg-myrtle-green-light">
          Update Profile</button>
      </form>
</div>
{% endblock %}