{% extends 'classroom/base.html' %}
{% load humanize %} 
{% load static %}
{% load thumbnail %}
{% block extra_head %}
  <link href="{% static 'profile.css' %}" rel="stylesheet"> 
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <!--=======Page Heading
    ==================================-->
    <section class="page-heading-section page-heading-one before-bg bg-image" style="background-image: url({% static 'images/profile_background.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="page-heading">
                        <h2 class="page-name text-capitalize">{{ profile.user.username }}'s Profile</h2>
                        <a href="{% url 'main:home_page' %}" class="btn btn-default btn-primary">back to home</a>
                    </div><!--/.page-heading-->
                </div><!--/.col-md-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.page-heading-area-->

    <div class="courses-page page-wrapper">

        <!--=======Courses Page Content
        ==================================-->
        <div class="courses-page-content" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="courses-page-content">
                            <div class="courses-content">
								<div class="container emp-profile">
												<div class="row">
													<div class="col-md-4">
														<div class="profile-img">
															<img src="{{ profile.image.url }}" alt="{{ profile.user.get_full_name }}"/>
															<div class="file btn btn-lg btn-primary">
																Looking Good...
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="profile-head">
																	<h5>
																		{{ profile.user.get_full_name|default:"Name???"}}
																	</h5>
																	<h6>
																		{{ profile.wallet_address|default:"Please add your waves exchange wallet address" }}
																	</h6>
																	<p class="proile-rating">Trivia : <span>{{ profile.user.completed_sittings.count }}/{{ profile.user.total_sittings.count }}</span></p>
															<ul class="nav nav-tabs" id="myTab" role="tablist">
																<li class="nav-item">
																	<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
																</li>
																{% if user.pk == profile.user.pk %}
																<li class="nav-item">
																	<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Settings</a>
																</li>
																{% endif %}
															</ul>
														</div>
													</div>
													{% if user.pk == profile.user.pk %}
													<div class="col-md-2">
														<a href="{{ profile.get_update_url }}"><input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/></a>
													</div>
													{% endif %}
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="profile-work">
														{% if profile.user.is_project_manager and profile.user.get_projects %}
															<p>PROJECTS</p>
															{% for project in profile.user.get_projects %}
															<a href="{{ project.get_absolute_url }}">{{ project.title }} </a><br/>
															{% endfor %}
														{% endif %}
														{% if profile.user.completed_sittings %}
														<p>COMPLETED TRIVIA</p>
														{% for sittings in profile.user.completed_sittings %}
															<a href="">{{ sittings.quiz.title }}</a><br/>
														{% endfor %}
														{% endif %}
														</div>
													</div>
													<div class="col-md-8">
														<div class="tab-content profile-tab" id="myTabContent">
															<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
																		<div class="row">
																			<div class="col-md-6">
																				<label>Name</label>
																			</div>
																			<div class="col-md-6">
																				<p>{{ profile.user.get_full_name}}</p>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-6">
																				<label>Joined</label>
																			</div>
																			<div class="col-md-6">
																				<p>{{ profile.joined|timesince }}</p>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-6">
																				<label>Email</label>
																			</div>
																			<div class="col-md-6">
																				<p>{{ profile.user.email }}</p>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-6">
																				<label>Telegram id</label>
																			</div>
																			<div class="col-md-6">
																				<a href="https://{{ profile.get_telegram_url }}" target="_blank"><p>Get in Touch</p><a>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-6">
																				<label>About</label>
																			</div>
																			<div class="col-md-6">
																				<p>{{ profile.about|default:"Please update your profile"|linebreaks }}</p>
																			</div>
																		</div>
															</div>
															{% if user.pk == profile.user.pk %}
															<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
																		<div class="row">
																			<div class="col-md-6">
																				<label>Edit Profile</label>
																			</div>
																			<div class="col-md-6">
																				<p><a href="{{ profile.get_update_url }}">click</a></p>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-6">
																				<label>My Progress</label>
																			</div>
																			<div class="col-md-6">
																				<p><a href="{% url 'quiz:quiz_progress' %}">click</a></p>
																			</div>
																		</div>
																		{% if request.user.is_master %}
																		<div class="row">
																			<div class="col-md-6">
																				<label>My markings</label>
																			</div>
																			<div class="col-md-6">
																				<p><a href="{% url 'quiz:quiz_marking' %}">click</a></p>
																			</div>
																		</div>
																		{% endif %}
																		<div class="row">
																			<div class="col-md-6">
																				<label>Change Password</label>
																			</div>
																			<div class="col-md-6">
																				<p><a href="{% url 'account_change_password' %}">click</a></p>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-6">
																				<label>Logout</label>
																			</div>
																			<div class="col-md-6">
																				<p><a href="{% url 'account_logout' %}">click</a></p>
																			</div>
																		</div>
																<div class="row">
																	<div class="col-md-6">
																		<label>Disable Account</label>
																	</div>
																	<div class="col-md-6">
																		<p><a href="{% url 'piquest-auth:disable' %}">click</a></p>
																	</div>
																</div>
															</div>
															{% endif %}
														</div>
													</div>
												</div>         
										</div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.courses-page-content-->
    </div><!--/.courses-page-->


{% endblock %}
