{% extends parent_template|default:"projects/base_projects.html" %}
{% block title %}{{ project.title }}{% endblock %}
{% block content %}

<article>

  <h2>{{ project.title }}</h2>
  <dl>
    <dt>Date Added</dt>
      <dd>{{ project.date_added|date:"F jS, Y" }}</dd>
    <dt>Website</dt>
      <dd>{{ project.website|urlize }}</dd>
    <dt>Contact</dt>
      <dd>{{ project.email }}</dd>

      <dt>Categor{{ project.categories.count|pluralize:"y,ies" }}</dt>
        {% for category in project.categories.all %}
          <dd><a href="{{ category.get_absolute_url }}">
            {{ category.category|title }}
          </a></dd>
        {% endfor %}

  </dl>

  {{ project.description|linebreaks }}

  {% if project.quizzes.all %}
          <section>
            <h3>Quiz{{ project.quizzes.all|pluralize:'zes' }}</h3>
            <ul>
              {% for quiz in project.quizzes.all %}
                <li>
                  <a href="{{ quiz.get_absolute_url }}">
                    {{ quiz.title|title }}</a>
                </li>
              {% endfor %}
            </ul>
          </section>
      {% endif %}

      <div>
        <a href="{% url 'project:article_create' %}">Add Link to project Article</a>
      </div>

      {% if project.articles.all %}
          <section>
            <h3>Recent Article{{ project.categories.count|pluralize }}</h3>
            <ul>
              {% for articlelink in project.articles.all %}
                <li>
                  <a href="{{ articlelink.link }}">
                    {{ articlelink.title|title }}</a>
                </li>
                <li>{{ articlelink.summary|truncatewords:20}}</li>
                <li>{{ articlelink.pub_date|date:"F jS, Y"}}</li>
              {% endfor %}
            </ul>
          </section>
      {% endif %}
</article>


{% endblock content %}