<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="{% url 'main:home_page' %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-myrtle-green p-2 bg-languid-lavender rounded-full" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
      </svg>
      <span class="ml-3 text-xl text-myrtle-green">PiQuests</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="{% url 'main:category_list' %}" class="mr-5 hover:text-gray-900">Categories</a>
      <a href="{% url 'project:project_list' %}" class="mr-5 hover:text-gray-900">Projects</a>
      <a href="{% url 'quiz:quiz_index' %}" class="mr-5 hover:text-gray-900">Quizzes</a>
      <a href="{% url 'contact:contact' %}" class="mr-5 hover:text-gray-900">Contact</a>
    </nav>
    {% if user.is_authenticated %}
    <button class="inline-flex text-white items-center bg-myrtle-green border-0 py-1 px-3 focus:outline-none hover:bg-myrtle-green-light rounded text-base mt-4 md:mt-0"><a href="{% url 'piquest-auth:profile' %}">Profile</a>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    {% else %}
    <button class="inline-flex text-white items-center bg-myrtle-green border-0 py-1 px-3 focus:outline-none hover:bg-myrtle-green-light rounded text-base mt-4 md:mt-0"><a href="{% url 'account_signup' %}">Register</a>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    {% endif %}
  </div>
</header>
