
{% if list_slug != "mine" %}
<div class="w-full">
    {% if view_completed %}
    <div class="inline-block mr-2 mt-2">
          <button type="button" class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-myrtle-green hover:bg-myrtle-green-light hover:shadow-lg"><a href="{% url 'todo:list_detail' list_id list_slug %}" class="btn btn-sm btn-warning">View incomplete tasks</a></button>
      </div>

    {% else %}
    <div class="inline-block mr-2 mt-2">
          <button type="button" class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-myrtle-green hover:bg-myrtle-green-light hover:shadow-lg"> <a href="{% url 'todo:list_detail_completed' list_id list_slug %}" class="btn btn-sm btn-warning">View completed tasks</a></button>
      </div>

    {% endif %}

    <div class="inline-block mr-2 mt-2">
          <button type="button" class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-red-500 hover:bg-red-600 hover:shadow-lg"><a href="{% url 'todo:del_list' list_id list_slug %}" class="btn btn-sm btn-danger">Delete this list</a></button>
      </div>
</div>
  {% endif %}